.user-img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 5px solid  black;
}
.hero{
    height: 90vh;
}
.navbar-nav .nav-link{
    color: black;
    font-size: 1.1rem;
}
@media (max-width: 991.98px) { /* Adjust the breakpoint if needed */
    .navbar-collapse {
      text-align: center;
    }
    .navbar-collapse .navbar-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
.hero{
  padding-top: 180px;
  background-color: #ecf2ff;
}  
@media screen and (max-width: 576px){
  .hero{
    text-align: center;
    padding-top: 70px;
  }
  .hero img{
    margin-top: 20px;
    height: 70px;
    width:70px;
  }
  .col-sm-4{
    margin-top: 10px;
  }
}
@media screen and (min-width: 576px){
  .projects img{
    width: 150px;
    height: 100px;
  }
}
.skills img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid black;
}
.card{
  border: 2px solid black;
  box-shadow: 4px 4px black;
}
@media screen and (min-width: 1024px){
  .about .container{
    width: 60%  !important;
  }
  .achivements .container{
    width: 60%;
  }
}
.about{
  background-color: #ecf2ff;
  padding: 5rem;
}
.projects img{
  width: 300px;
  height: 200px;
}
.achivements{
  background-color: #ecf2ff;
}
footer{
  background-color: #ecf2ff;
}
.contact a{
  text-decoration: none;
} 